<section class="section-404">
    <div class="container-404">
        <div class="illustration-404">
            <span class="num">4</span>
            <span class="num">0</span>
            <span class="num">4</span>
        </div>

        <h1 class="title-xl">¡Oh, no! Esta página se ha extraviado...</h1>

        <p class="text-m">
            En el mundo de las mascotas a veces nos perdemos.
            No te preocupes, estamos aquí para guiarte de vuelta.
        </p>

        <div class="container">
            <a class="btn-back" href="/">Volver al Inicio</a>
        </div>
    </div>
</section>