<section class="section-500">
    <div class="container-500">
        <div class="illustration-500">
            <span class="num">5</span>
            <span class="num">0</span>
            <span class="num">0</span>
        </div>

        <h1 class="title-xl">¡Ups! Algo se rompió en casa.</h1>

        <p class="text-m">
            Parece que hemos tropezado con un juguete o alguien desenchufó un cable por accidente.
            Nuestro equipo ya está resolviendo este lío para que puedas seguir navegando tranquilo.
        </p>

        <div class="container">
            <a class="btn-back" href="/">Volver al Inicio</a>
        </div>
    </div>
</section>