{% extends 'index.html' %}

{% block content %}
<div class="login-page-container">

    <div class="login-wrapper">

        <div class="login-content">
            <section class="section-login">
                <h1 class="title-xl">Animalia</h1>
                <p class="text-m">
                    Bienvenido a tu portal veterinario. Inicia sesión para gestionar tus citas y mascotas.
                </p>
            </section>

            <form class="form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-submit">Enviar</button>
            </form>
        </div>

        <div class="login-image-container">
            <img src="https://images.unsplash.com/photo-1543466835-00a7907e9de1?auto=format&fit=crop&w=1000&q=80"
                alt="Perro feliz" class="login-image">
        </div>

    </div>

</div>
{% endblock %}