{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="login-page-container">

    <div class="login-wrapper">

        <div class="login-content">
            <section class="section-login">
                <h2 class="title-xl">{{ titulo }}</h2>
            </section>

            <form class="form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-submit">Enviar</button>
            </form>
        </div>

        <div class="login-image-container">
            <img src="{% static 'veterinario/img/background02.jpg' %}" alt="Perrito" class="login-image">
        </div>

    </div>

</div>
{% endblock %}