<header class="header">
    <nav class="header-nav">
        <div class="logo-container">
            <span class="logo-menu">Animalia</span>
        </div>

        {% if user.is_authenticated %}
        <div class="nav-user-logged">
            <a href="">Mascotas</a>
            <a href="">Citas</a>
        </div>
        {% endif %}

        <div class="nav-login">
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-logout">
                    Cerrar sesión
                </button>
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-login">Iniciar sesión</a>
            <a href="" class="btn btn-create">Crear cuenta</a>
            {% endif %}
        </div>
    </nav>
</header>