{% extends 'index.html' %}

{% block content %}
<div class="login-page-container">

    <div class="login-wrapper">

        <div class="login-content">
            <section class="section-login">
                <h1 class="title-xl">Animalia</h1>
                <p class="text-m">
                    Bienvenido a tu portal veterinario. Inicia sesión para gestionar tus citas y mascotas.
                </p>
            </section>

            <form class="form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-submit">Enviar</button>
            </form>
        </div>

        <div class="login-image-container">
            <img src="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?q=80&w=1143&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Perro feliz" class="login-image">
        </div>

    </div>

</div>
{% endblock %}